.div-2 {
    background: var(--azul-principal);
}

.oqpfpv {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.oqpfpv h1{
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 600
}
    
.descricao-div2 {
    margin-top: 2rem;
}

.descricao-div2 p {
    font-weight: 600;
    margin-top: 1.2rem;
    font-size: 1.5rem;
}

.seta-1 {
    height: 10vh;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seta{
    width: 10px;
    height: 40px;
    background: white;
    border-radius: 5px;
    margin: 6px;
    animation: move 1.1s infinite ease-in-out;
}
span:nth-of-type(1){
    transform: rotate(-45deg);
}

span:nth-of-type(2){
    transform: rotate(45deg);
}
@keyframes move {
    0%{margin-top: 0;}
    50%{margin-top: 10px;}
    100%{margin-top: 0;}
}

@media screen and (max-width:768px) {
    .div-2 {
        background: var(--azul-principal);
    }
    
    .oqpfpv {
        width: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
    .oqpfpv h1{
        font-size: 2.5rem;
        margin-top: 2rem;
        font-weight: 600
    }
        
    .descricao-div2 {
        margin-top: 2rem;
    }
    
    .descricao-div2 p {
        text-align: left;
        font-weight: 600;
        margin-top: 1.2rem;
        font-size: 1.5rem;
    }
    
    .seta-1 {
        height: 10vh;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .seta{
        width: 10px;
        height: 40px;
        background: white;
        border-radius: 5px;
        margin: 6px;
        animation: move 1.1s infinite ease-in-out;
    }
    span:nth-of-type(1){
        transform: rotate(-45deg);
    }
    
    span:nth-of-type(2){
        transform: rotate(45deg);
    }
    @keyframes move {
        0%{margin-top: 0;}
        50%{margin-top: 10px;}
        100%{margin-top: 0;}
        
    }
}