.div-3 {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    height: auto;
    width: 100%;
}

.div-3 h1 {
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 600;
    text-align: center;
    color: #5271ff;
}

.card {
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
    justify-content: center;
    gap: 5rem;
    width: 100%;
}

.bloco {
    width: auto;
    background-color: #5271ff;
}

.descricao-bloco {
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
}

@media screen and (max-width:768px) {
    .div-3 {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
        height: auto;
        width: 100%;
    }    
    .card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .descricao-bloco {
        text-align: center;
        font-weight: 800;
    }
}