.div-6 {
    height: auto;
    width: 100%;
}

.refe {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.box-contagem {
    background-color: aliceblue;
    padding: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}

.contagem {
    font-size: 2.5rem;
    font-weight: 900;
}

.box-contagem p {
    font-size: 1.8rem;
    color: #5271ff;
    font-weight: 900;
}


/* ========= CONTATO ============== */